body {
  background: #EEE; }

#wrapper {
  background: #FFF; }

h1 {
  margin: 12px 0;
  color: #AAA;
  font-weight: bold;
  font-size: 24px; }

h2 {
  margin: 12px 0;
  padding: 8px 0;
  border-bottom: 1px solid #CCC;
  color: #000;
  font-weight: bold;
  font-size: 20px; }

h3 {
  margin: 20px 0 12px 0;
  color: #000;
  font-weight: bold;
  font-size: 16px; }

h4, h5, h6 {
  margin: 12px 0;
  color: #000;
  font-weight: bold;
  font-size: 14px; }

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; }

#header {
  margin-bottom: 20px; }

#main {
  margin-bottom: 20px; }

#footer {
  height: 100%;
  padding-top: 20px;
  border-top: 1px solid #CCC;
  background: #EEE;
  color: #666; }
  #footer a {
    color: #999; }

.pankuzu ul {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px; }
  .pankuzu ul > li {
    display: inline-block; }
    .pankuzu ul > li + li:before {
      padding: 0 5px;
      color: #ccc;
      content: "/\00a0"; }

.pankuzu > .active {
  color: #777; }

#navigation ul {
  padding: 4px 0 0 4px; }

#navigation li {
  list-style: none;
  padding: 2px 6px; }

#navigation li a.active {
  color: #999;
  font-weight: bold }
