  <div id="header">
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#jsNavbarCollapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% relative_path path:'/index.html' %}">Wiki</a>
        </div>
        <div class="collapse navbar-collapse" id="jsNavbarCollapse-1">
          <ul class="nav navbar-nav">
            <li>{% tocroot %}</li>
          </ul>
          {% include search.html %}
        </div>
      </div>
    </div>
  </div>
  <!--/#header-->

