@mixin font-family($type, $important: false) {
  @if $important == 'important' or $important == true {
    $important: ' !important';
  } @else {
    $important: '';
  }
  @if $type == 'monospace' {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }
}
