---
---
@charset "utf-8";

@import "mixins/font-family";

body {
 background: #EEE;
}

#wrapper {
  background: #FFF;
}

h1 {
  margin: 12px 0;
  color: #AAA;
  font-weight: bold;
  font-size: 24px;
}

h2 {
  margin: 12px 0;
  padding: 8px 0;
  border-bottom: 1px solid #CCC;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

h3 {
  margin: 20px 0 12px 0;
  color: #000;
  font-weight: bold;
  font-size: 16px;
}

h4, h5, h6 {
  margin: 12px 0;
  color: #000;
  font-weight: bold;
  font-size: 14px;
}

code {
  @include font-family("monospace");
}

#header {
  margin-bottom: 20px;
}

#main {
  margin-bottom: 20px;
}

#footer {
  height: 100%;
  padding-top: 20px;
  border-top: 1px solid #CCC;
  background: #EEE;
  color: #666;
  a {
    color: #999;
  }
}
