---
layout: global
---
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title | escape }} | {% tocroot link:false %}</title>
<link href="{% relative_path path:'/assets/lib/bootstrap-3.2.0/css/bootstrap.min.css' %}" media="screen" rel="stylesheet" type="text/css">
<link href="{% relative_path path:'/assets/stylesheets/style.css' %}" media="screen" rel="stylesheet" type="text/css">
<link href="{% relative_path path:'/assets/stylesheets/github.css' %}" media="screen" rel="stylesheet" type="text/css">
<script src="{% relative_path path:'/assets/lib/jquery-1.11.1/jquery.min.js' %}"></script>
<script src="{% relative_path path:'/assets/lib/bootstrap-3.2.0/js/bootstrap.min.js' %}"></script>
<script src="{% relative_path path:'/assets/javascripts/jquery.toctree.js' %}"></script>
<script>

(function($) {

    $(function() {
        $('#toc').toctree({ selector:'#content :header', offset:1, depth:3 });
    });

})(window.jQuery);

</script>
</head>
<body>
<div id="wrapper">
  {% include header.html %}
  <div id="main">
    <div class="container-fluid">
      <ul class="breadcrumb">
        {% breadcrumb divider:'' active:'class="active"' %}
      </ul>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-4 hidden-xs">
          <div id="navigation">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center; font-size: 11px; text-transform: uppercase; color: #999">Table of Contents</h3>
              </div>
              <div class="panel-body">
              {% directory_index ul:'class="nav nav-pills nav-stacked"' active:'class="active"' %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-sm-8">
          {% capture src %}{{ page.url | replace:'.html','.md' }}{% endcapture %}
          <div class="btn-group pull-right">
            <a class="btn btn-default" href="https://raw.github.com/tachesimazzoca/wiki/master/src{{ src }}">Raw</a>
            <a class="btn btn-default" href="https://github.com/tachesimazzoca/wiki/blame/master/src{{ src }}">Blame</a>
            <a class="btn btn-default" href="https://github.com/tachesimazzoca/wiki/commits/master/src{{ src }}">History</a>
          </div>
          <div id="content">
          <h1>{{ page.title | escape }}</h1>
          <div id="toc">
          </div>
          {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/#main-->
  {% include footer.html %}
</div>
<!--/#wrapper-->
{% include ga.html %}
</body>
</html>
